*{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* https://cssgenerator.org/box-shadow-css-generator.html */


/* img{
    border-radius: 10rem ;
    box-sizing:content-box;
} */